.about-page {
  display: flex;
 
}

.about-header {
  color: var(--white);
  font-family: Merriweather, sans-serif;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0px 0px 0px 0px;
    align-items: center;
}

h1 {
  display: flex;
  align-items: flex-start;
  margin-left: 4%;
}

.full-wrapper {
    display: flex;
    flex-direction: column;
    padding: 60px 0px 0px 40px;
}

.about-text {
  max-width: 500px;
  font-family: 'Merriweather Sans', sans-serif;
  color: var(--white);
  font-size: 0.625rem;
  line-height: 1.7;
  transition: color 0.5s ease;
  margin-left: 4%;
  
   
   @media(width >=40em) {
     /* 640px - tablets */
    font-size: 0.8rem;
  }
  
  @media(width >=60em) {
    /* 960px - desktop */
    font-size: 1rem;
  }
  
}

.text-intro,
.text-second,
.text-third,
.text-fourth,
.text-end {
  padding: 5px;
}

.text-bottom {
  font-family: Merriweather, sans-serif;
  color: var(--white);
  font-size: 14px;
  font-style: italic;
  margin-left: 5%;
  padding: 40px 0px 0px 0px;
}

.image-wrapper {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
}

img.bottom-image {
  max-width: 100%;
  height: auto;
  padding: 10%;
}
