   /* About page specific styles */
   .about-page {
    display: flex;
    padding: 0 5.7%;
    max-width: 1224px;
    justify-content: center;
    align-items: center;
    margin-left: auto;  
    margin-right: auto; 
    width: 100%;        
  }
  
  .content-wrapper {
    display: flex;
    width: 100%;
  }
  
  .text-column {
    flex: 1;
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .image-column {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .about-header h1 {
    color: var(--white);
    font-family: Merriweather Sans, sans-serif;
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
  }
  
  .about-text {
    color: var(--white);
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 0.8rem;
    line-height: 1.7;
    margin-bottom: 1.2rem;
    font-weight: 300;
  }
  
  .text-bottom {
    font-family: Merriweather, serif;
    color: var(--white);
    font-style: italic;
    margin-top: 1.5rem;
  }
  
  .text-bottom h2 {
    font-size: 1.2rem;
    font-weight: normal;
    margin: 0;
  }
  
  .text-end {
    margin-top: 0.8rem;
    font-size: 0.9rem;
  }
  
  .image-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .about-image img {
    max-width: 100%;
    max-height: 75vh;
    object-fit: contain;
  }
  
  @media (max-width: 40em) {
    .about-page {
      margin-top: 60px;
      height: calc(100vh - 120px);
      padding: 0 4%;
    }
    
    .content-wrapper {
      flex-direction: column;
    }
    
    .text-column {
      padding-right: 0;
      margin-bottom: 2rem;
    }
    
    .image-column {
      margin-bottom: 4rem;
    }
    
    .about-header h1 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
    }
    
    .about-text {
      font-size: 0.9rem;
      line-height: 1.6;
    }
    
    .image-wrapper {
      padding: 1rem;
    }
    
    .about-image img {
      max-height: 40vh;
    }
  }