
/* GRID */

.grid-container {
    max-width: 1224px;
    width: 100%;
    margin: auto;
    
  }
  
  .grid-gallery {
    display: flex;
    gap: 20px;
  }
  
  .column {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 1024px) {
    .grid-gallery {
      flex-direction: column;
    }
  }
  
  #plus-button-grid {
    width: 100%; /* Makes it take up full width of the column */
    object-fit: contain;
    overflow: visible; /* Ensures no part is cropped */
  }
  
  #plus-button-grid img {
    width: 100%; 
    object-fit: contain; 
    transition: transform 0.3s ease; 
  }
  
  #plus-button-grid:hover img {
    transform: scale(1.01); 
    cursor: pointer;
  }
  
  
  /* MODAL FOR GRID */
  
  .modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal.hide {
    display: none;
  }
  
  .modal-image-container {
    position: relative;
    max-width: 90%;
    max-height: 90%;
  }
  
  .modal-content {
    width: 100%;
    height: auto;
  }
  
  #modal-close {
    color: #f1f1f1;
    position: absolute;
    top: -40px;
    right: 0;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
  }

  /* MEDIA QUERIES */

/* Update gallery grid for mobile */
@media (max-width: 768px) {
  .grid-gallery {
    display: block; /* Stack images vertically */
    gap: 0; /* Remove gaps between images */
  }

  .grid-gallery .photo {
    margin: 0; /* Remove margins */
    width: 100%; /* Full width */
  }