
/* CAROUSEL MODAL */

/* No scrolling when modal is open */
html.no-scroll {
  overflow: hidden;
}


#carousel-modal {
  display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.9);
     z-index: 2000;
   
     padding: 10px;
    overflow: auto;
 }

body.modal-open {
  overflow: hidden;
}

.modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 90%;
  max-height: 90vh;
  margin: 2vh auto; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
  background-color: rgba(23, 23, 23, 0.7);
  padding: 20px;
}

.modal-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}


#carousel-modal img {
  max-width: 90%;
  max-height: 70vh; 
  object-fit: contain; 
  
  @media (width >=40em) {
    max-width: 90%;
    max-height: 70vh;
  }
  
  @media (width >=60em) {
    max-width: 90%;
    max-height: 75vh;
  }
}

.modal-text-container {
  color: var(--white);
  font-family: "Merriweather Sans", sans-serif;
  width: 90%;
  text-align: center; /* Center the text */
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#carousel-modal h2 {
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  
  @media (width >=40em) {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  @media (width >=60em) {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
}

#carousel-modal p {
  font-size: 0.6rem;
  line-height: 1.5;
  font-weight: 200;
  text-align: center;
  max-width: 90%;
  
  @media (width >=40em) {
    font-size: 0.7rem;
  }
  
  @media (width >=60em) {
    font-size: 0.9rem;
  }
}

#carousel-modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1001;

  @media (width >=40em) {
    /* 960px - desktop */
    font-size: 0.813rem;
  }

  @media (width >=60em) {
    /* 960px - desktop */
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
  }
}

#carousel-modal-close:hover {
  color: var(--pink);
}



