/* KARRUSEL */

.carousel_wrapper {
  position: relative;
  max-width: 100%;
  margin: 0 auto var(--spacing-sm);
  padding: 0;
  overflow: hidden;
  
  @media (width >=40em) {
    max-width: 1000px;
  }
  
   @media (width >=60em) {
    max-width: 1224px;
  }
}

.carousel_container {
  overflow: hidden;
  
  position: relative;
  
  width: 100%;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease;
  position: relative;
  width: 100%; 
  transform: translateX(-75%); 
  scroll-snap-type: x mandatory;
  gap: var(--spacing-sm);
}

.carousel img {
  width: 75%;
  height: auto;
  aspect-ratio: 16/9;
  object-fit: cover;
  transition: transform 0.5s ease, opacity 0.5s ease;
  scroll-snap-align: start;
  flex-shrink: 0;
}

/* Current image positioned more to the left */
.carousel img:nth-child(2) {
  transform: translateX(0%); /* Shift current image to the left */
}

/* Next image previewed to the right */
.carousel img:nth-child(3) {
  transform: translateX(0%); 
}

/* KARRUSEL KOMPONENTER */

.carousel-info {
  color: var(--white);
  font-family: Merriweather Sans, sans-serif;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  padding: 0;
   
   @media (width >= 40em) {
    justify-content: flex-start;
    padding: 0;
  }
  
  @media(width >=60em) {
    /* 960px - desktop */
    justify-content: flex-start;
  }
  
  
}

.counter {
  font-size: 0.625rem;
  margin-left: 30px;
  font-weight: 300;
  margin-right: 20px;
  
   @media(width >=40em) {
     /* 640px - tablets */
    font-size: 0.8rem;
  }
  
  @media(width >=60em) {
    /* 960px - desktop */
    font-size: 1rem;
    margin-left: 120px;
    margin-right: 120px;
  }
}

.image-info {
  text-transform: lowercase;
  font-size: 0.625rem;
  font-weight: 200;
  margin-right: 80px;
  
    @media(width >=40em) {
     /* 640px - tablets */
    font-size: 0.8rem;
    margin-right: 100px;
  }
  
  @media(width >=60em) {
    /* 960px - desktop */
    font-size: 1rem;
    margin-right: 120px;
  }
  
}

.arrow-right,
.arrow-left {
  position: absolute;
  top: 98%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: transparent;
  border: none;
  z-index: 10;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.arrow-left {
  left: 0px;
    @media (width >=40em) {
   left: 20px;
  }
  
  @media (width >=60em) {
   left: 20px;
  }
}

.arrow-right {
   right: 0px;
    @media (width >=40em) {
   right: 20px;
  }
  
  @media (width >=60em) {
   right: 20px;
  }
}

.arrow-right:hover,
.arrow-left:hover {
  transform: translateY(-50%) scale(1.2);
  cursor: pointer;
}

.plus-button {
  font-family: Lexend Exa, sans-serif;
  color: var(--white);
  background-color: transparent;
  border: none;
}

.plus-button:hover {
  transform: scale(1.3);
  cursor: pointer;
}


/* CAROUSEL MODAL */

/* No scrolling when modal is open */
html.no-scroll {
  overflow: hidden;
}


#carousel-modal {
  display: none;
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, 0.9);
     z-index: 2000;
   
     padding: 10px;
    overflow: auto;
 }

body.modal-open {
  overflow: hidden;
}

.modal-content {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 90%;
  max-height: 90vh;
  margin: 2vh auto; 
  justify-content: center; 
  align-items: center; 
  overflow: hidden;
  background-color: rgba(23, 23, 23, 0.7);
  padding: 20px;
}

.modal-image-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}


#carousel-modal img {
  max-width: 90%;
  max-height: 70vh; 
  object-fit: contain; 
  
  @media (width >=40em) {
    max-width: 90%;
    max-height: 70vh;
  }
  
  @media (width >=60em) {
    max-width: 90%;
    max-height: 75vh;
  }
}

.modal-text-container {
  color: var(--white);
  font-family: "Merriweather Sans", sans-serif;
  width: 90%;
  text-align: center; /* Center the text */
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}

#carousel-modal h2 {
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  
  @media (width >=40em) {
    font-size: 1rem;
    margin-bottom: 10px;
  }
  
  @media (width >=60em) {
    font-size: 1.2rem;
    margin-bottom: 15px;
  }
}

#carousel-modal p {
  font-size: 0.6rem;
  line-height: 1.5;
  font-weight: 200;
  text-align: center;
  max-width: 90%;
  
  @media (width >=40em) {
    font-size: 0.7rem;
  }
  
  @media (width >=60em) {
    font-size: 0.9rem;
  }
}

#carousel-modal-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1rem;
  color: white;
  cursor: pointer;
  background: none;
  border: none;
  z-index: 1001;

  @media (width >=40em) {
    /* 960px - desktop */
    font-size: 0.813rem;
  }

  @media (width >=60em) {
    /* 960px - desktop */
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    background: none;
    border: none;
  }
}

#carousel-modal-close:hover {
  color: var(--pink);
}



